.search-game {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(76, 96, 133, .4);
    color: #a6a2b3;
    height: 45px;
    flex-grow: 1;
    border-radius: 5px;
    cursor: pointer;
    min-width: 220px;
}

.search-game-name {
    font-size: 12px;
    flex: 1;
}

.search-game-img img {
    width: 17px;
    padding: 0 10px;
}
