.select-game {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(76, 96, 133, .4);
    color: #d4d4d4;
    height: 45px;
    max-width: 260px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.select-game-name {
    font-size: 12px;
    flex: 1;
}

.select-game-img img {
    width: 25px;
    padding: 0 10px;
}

.select-game-arrow img {
    width: 10px;
    padding: 0 15px;
}

@media only screen and (max-width: 571px) {
    .select-game{
        max-width: 100%;
    }
}